[submodule "oatpp/oatpp"]
	path = deps/oatpp
	url = https://github.com/oatpp/oatpp.git
[submodule "oatpp/oatpp-sqlite"]
	path = deps/oatpp-sqlite
	url = https://github.com/oatpp/oatpp-sqlite.git
[submodule "oatpp/oatpp-swagger"]
	path = deps/oatpp-swagger
	url = https://github.com/oatpp/oatpp-swagger.git
